/* --- START OF FILE fonts.css --- */

/* Основной текст (Soyuz) */
@font-face {
    font-family: 'Soyuz';
    src: url('assets/soyuz.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Заголовки (SF Pro Display Bold) */
@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 700; /* Bold обычно это 700 */
    font-style: normal;
    font-display: swap;
}